*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { 
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 70vw;
    margin: 40px auto;
}

.company-logo{
    max-width: 250px;
    
    max-height: 75px;
    
    margin-right: 30px;
    align-self: center;
}

.job-container{
    display: flex;
    border: 1px solid #9999a1;
    height: 150px;
    color: #000;
    padding: 20px;
    margin-bottom: 35px;
    justify-content: space-between;
    overflow: hidden;
}

.main-details{
    display: flex;
}

.company-name{
    display: block;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
}

.column:not(:last-child){
    margin-right: 2.5rem;
}

.center{
    text-align: center
}

.title{
    font-size: 1.8rem;
}

.company-name{
    font-size: 1.6rem;
}

.type{
    font-size: 1.6rem;
}

.main-title{
    font-size: 2rem;
    margin-bottom: 30px;
}

.row{
    display: flex;
    align-items: flex-end;
    font-size: 1.6rem;
}


.las{
    align-self: center;
    font-size: 3.2rem;
    margin-bottom: 5px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}